# Renderer
html-renderer internal
download-full-page no
keep-articles-days 3
prepopulate-query-feeds yes
error-log "~/.config/newsboat/error.log"
show-keymap-hint no

# Vim keys
bind-key j down
bind-key k up
bind-key d pagedown
bind-key u pageup

# Filtruj link-aggregator posty
ignore-article "https://marginalrevolution.com/feed" "title =~ \"assorted links|Saturday links|Sunday links|Friday links\""
